@import "style";

.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: $white-color;
  display: grid;
  place-items: center;
  font-family: 'Playfair Display', serif;

  &__box {
    position: relative;
    width: 500px;
    height: 200px;

    @media (max-width: 768px) {
      & {
        width: 90vw;
      }
    }
  }

  &__text {
    position: relative;
    color: $first-color;
    padding: 1rem;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
      color: $light-color;
    }

    &-dot {
      width: 10px;
      height: 10px;
      margin: 25px 6px 0 5px;
      border-radius: 50%;
      background: $light-color;
      animation: pulse 1s infinite;

      @keyframes pulse {
        from {
          opacity: 0;
          background: $white-color;
        }
        to {
          opacity: 1;
        }
      }

      @media (max-width: 425px) {
        width: 7px;
        height: 7px;
        margin: 15px 4px 0 3px;
      }
    }

    &-border {
      position: absolute;
      width: 85%;
      height: 1px;
      background: $light-color;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: 425px) {
      & {
        font-size: 25px;
      }
      &-border {
        width: 70%;
      }
    }
  }

  &__bar {
    position: absolute;
    width: 90%;
    height: 10px;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
    background: $lighten-color;
    border-radius: 2px;
    box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px;

    &-in {
      width: 0;
      height: 100%;
      border-radius: 2px;
      background: $first-color-light;
    }
  }

  &__counter {
    position: absolute;
    width: 100%;
    top: 75%;
    left: 0;
    color: $light-color;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__width {
    &-animation {
      animation: width_animation 2.5s forwards;
      @keyframes width_animation {
        0% {
          width: 85%;
        }
        100% {
          width: 250px;
        }
      }

      @media (max-width: 425px) {
        animation: width_animation 3s forwards;
        @keyframes width_animation {
          0% {
            width: 70%;
          }
          100% {
            width: 150px;
          }
        }
      }

      @media (max-width: 320px) {
        animation: width_animation 4s forwards;
      }
    }
  }
}